body{
    background-color: rgb(141, 0, 0);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1{
    text-align: center;
    width: 100%;
}

p{
    color: white !important;
}

.react-quiz-container .incorrect, .correct {
    background-color: green;
    color: black;
}

.react-quiz-container .undefined {
    background-color: white;
    color: black;
}